
[Bb]in/
[Oo]bj/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

TestResult*/
[Tt]est[Rr]esult*/
[Ll]og/
[Ll]ogs/
coverage*[.json, .xml, .info]
*.coverage
*.coveragexml

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

*.pubxml
*.publishproj
PublishScripts/
Properties/PublishProfiles/

.idea/
.vscode/

*.tmp
*.log
*.cache
*.DS_Store

[Pp]ublish/

appsettings.Development.json
appsettings.*.local.json


