
manifest {
    name                                  = 'imputationserver2'
    version                               = '2.0.0-dev'
    description                           = 'Genotype Imputation Pipeline'
    author                                = 'Forer / Schönherr'
    homePage                              = 'https://github.com/genepi/nf-imputationserver'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    project                = null
    files                  = null    
    population             = null
    refpanel_yaml          = null
    refEagle               = null
    refBeagle              = null
    // m3vcf file
    hdfs                   = null
    reference_build        = null
    mode                   = 'imputation'
    phasing                = 'eagle'

    //optional
    mapEagle               = 'NO_MAP_FILE'
    mapBeagle              = 'NO_MAP_FILE'
    mapMinimac             = 'NO_MAP_FILE'
    minimac_window         = 500000
    cpus                   = 1
    minimac_min_ratio      = 0.00001

    imputation = [ 
        enabled: true,
    ]

    ancestry = [ 
        enabled: false,
        dim: 10,
        dim_high: 20,
        batch_size: 50,
        reference: null,
        max_pcs: 8,
        k: 10,
        threshold: 0.75
    ]

    // header information
    r2Filter               = 0
    id                     = 'hapmap2'
    pipeline_version       = 'michigan-imputationserver-1.6.0-rc5'
    eagle_version          = 'eagle-2.4'
    beagle_version         = 'beagle.18May20.d20.jar'
    imputation_version     = 'minimac4-1.0.2'
}

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }


    development {
        process.container                 = 'genepi/nf-imputationserver:latest'
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }
    
    slurm {
        process.executor                  = 'slurm'
        errorStrategy                     = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors                         = '-1'
        maxRetries                        = 3
        process.container                 = 'quay.io/genepi/imputation-docker:v0.0.3'
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    

   test      {
        includeConfig 'tests/test_single_vcf.config'
   }

}
