/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,development
----------------------------------------------------------------------------------------
*/

params {
    project                 = "test-job2"
    build = "hg19"
    files                   = "tests/input/vcf/hapmap300.chr1.recode.vcf.gz"
    population = "eur"
    password = "lukas"
    mode = "imputation"
    refpanel = [
        id: "hapmap2",
        samples: [
            eur: '60',
            mixed: -1
        ],
        populations: [
            eur: 'EUR',
            mixed: 'Mixed'
        ],
        legend: 'tests/hapmap-2/2.0.0/legends/hapmap_r22.chr$chr.CEU.hg19_impute.legend.gz',
        hdfs: 'DUMMY',
        build: 'hg19'
    ]
    ancestry = [
        //enabled: true,
        //references: '/Users/lukfor/Data/laser/references/HGDP_938_genotyped/*'
    ]
    output = "output/single"
    refEagle                = 'tests/hapmap-2/2.0.0/bcfs/hapmap_r22.chr$chr.CEU.hg19.recode.bcf'
    hdfs                    = 'tests/hapmap-2/2.0.0/m3vcfs/hapmap_r22.chr$chr.CEU.hg19.recode.m3vcf.gz'
    mapEagle                = 'tests/hapmap-2/2.0.0/map/genetic_map_hg19_withX.txt.gz'
    reference_build         = 'hg19'
    id                      = 'hapmap2'
}
