/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,development
----------------------------------------------------------------------------------------
*/

params {
    project         = "test-job2"
    build           = "hg38"
    files           = "$projectDir/tests/data/input/chr20-unphased-hg38/*vcf.gz"
    population      = "eur"
    password        = "lukas"
    mode            = "imputation"
    refpanel_yaml   = "$projectDir/tests/data/refpanels/hapmap2/cloudgene.yaml"
    output = "output/single"
}
