process {

  errorStrategy = { task.exitStatus in ((130..145) + 104 + 151) ? 'retry' : 'terminate' }
  maxErrors     = '-1'
  maxRetries    = 3

  withName: 'INPUT_VALIDATION_VCF' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }

  withName: 'QUALITY_CONTROL_VCF' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  
  withName: 'QUALITY_CONTROL_REPORT' {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'EAGLE' {
    cpus = { 2 }
    memory = { 12.GB * task.attempt }
  }
  
  withName: 'BEAGLE' {
    cpus = { 2 }
    memory = { 12.GB * task.attempt }
  }

  withName: 'MINIMAC4' {
    cpus = { 2 }
    memory = { 12.GB * task.attempt }
  }

  withName: 'ESTIMATE_ANCESTRY' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }

  withName: 'EXECUTE_TRACE' {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

  withName: 'PREPARE_TRACE' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }

  withName: 'VISUALIZE_ANCESTRY' {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }

  withName: 'COMPRESSION_ENCRYPTION_VCF' {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  } 

  withName: 'CALCULATE_CHUNKS' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  } 

  withName: 'CREATE_HTML_REPORT' {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  } 

  withName: 'MERGE_CHUNKS_INFOS' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  } 

  withName: 'MERGE_CHUNKS_SCORES' {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  } 
  
}
